/* --- CALLOUTS --- */
.callout {
    /* General Styling */
    //border: 0px;

    & .callout-title {
        
        // move title stuff around
        flex-direction: row;
        justify-content: space-between;

        border-top-left-radius: var(--callout-radius);
        border-top-right-radius: var(--callout-radius);

        transition: border-radius var(--vr-duration-normal) var(--vr-animation-smooth);
    
        gap: 5px;

        /* Layout */
        & .callout-fold {
            order: 1;

            padding-top: 2px;
            height: 16px;

            color: rgb(var(--callout-color));
        }

        & .callout-title-inner {
            order: 2;
            
            color: var(--text-normal);
        }
        
        & .callout-icon {
            order: 3;
        }
    }

    /* Roundness */
    & .is-collapsed {
        & .callout-title {
            border-radius: var(--vr-border-radius-normal);
        }

        & .callout-content {
            opacity: 0 !important;
        }
    }

    /* Colouring & Icons */
    &[data-callout="metadata"] {
        --callout-color: var(--vr-accent-r), var(--vr-accent-g), var(--vr-accent-b);
        --callout-icon: coffee;
    }

    &[data-callout="pro"],
    &[data-callout="do"] {
        --callout-color: 156, 219, 67;
        --callout-icon: thumbs-up;
    }

    &[data-callout="con"],
    &[data-callout="don't"] {
        --callout-color: 223, 62, 35;
        --callout-icon: thumbs-down;
    }

    &[data-callout="spell"] {
        --callout-color: 140, 49, 123;
        --callout-icon: wand;
    }

    &[data-callout="weapon"] {
        --callout-color: 115, 107, 159;
        --callout-icon: axe;
    }

    &[data-callout="encounter"] {
        --callout-icon: shield;
    }
}

.callout, .is-collapsed .callout-title {
    border: 0px;
    border-radius: var(--vr-border-radius-normal);
}
