/* --- CALLOUTS --- */
.callout {
    /* General Styling */
    border: 0px;

    & .callout-title {
        padding: var(--vr-callout-padding) 10px;
        border-top-left-radius: var(--vr-border-radius-normal);
        border-top-right-radius: var(--vr-border-radius-normal);

        transition: border-radius var(--vr-duration-normal) var(--vr-animation-smooth);
    
        gap: 5px;

        /* Layout */
        & .callout-fold {
            order: 1;

            padding-top: 2px;
            height: 16px;

            color: rgb(var(--callout-color));
        }

        & .callout-title-inner {
            order: 2;

            color: rgb(var(--callout-color));
        }
        
        & .callout-icon {
            order: 3;
        }
    }

    /* Roundness */
    & .is-collapsed {
        & .callout-title {
            border-radius: var(--vr-border-radius-normal);
        }

        & .callout-content {
            opacity: 0 !important;
        }
    }

    /* Colouring & Icons */
    &[data-callout="abstract"],
    [data-callout="summary"],
    [data-callout="tldr"] {
        --callout-color: 50, 35, 145;
    }

    &[data-callout="metadata"] {
        --callout-color: var(--vr-accent-r), var(--vr-accent-g), var(--vr-accent-b) !important;
        --callout-icon: coffee !important;
    }
}

.callout, .is-collapsed .callout-title {
    border: 0px;
    border-radius: var(--vr-border-radius-normal);
}
