/* --- CODEBLOCKS --- */
// not really sure what any of this was supposed to achieve, so it has been deprecated for now
/*
pre[class*="language-"] {
    padding: 0px;
    background: none;
}

code[class*="language-"] {
    background-color: var(--background-secondary);
}
*/