/* --- FONTS --- */

/* User Interface */
body,
input,
button,
.nav-folder-title,
.nav-file-title,
.view-header-title,
.mod-settings .vertical-tab-content-container {
    font-family: var(--vr-font-ui);
    font-weight: var(--font-medium);
}

/* Main Body - Reading Mode */
.markdown-preview-view,
.popover,
.vertical-tab-content-container,
.workspace-leaf-content[data-type=markdown] {
    font-family: var(--vr-font-body);
    font-weight: var(--font-medium);
}

/* Main Body - Edit Mode */
.markdown-source-view .cm-line {
    font-family: var(--vr-font-editor);
    font-weight: var(--font-medium);
}

/* Headers - Reading Mode */
.el-h1 h1, .el-h2 h2, .el-h3 h3, .el-h4 h4, .el-h5 h5, .el-h6 h6 { font-family: var(--vr-font-header); }

.el-h1 h1 { font-weight: var(--vr-h1-weight); font-size: var(--vr-h1-size); font-style: var(--vr-h1-style); }
.el-h2 h2 { font-weight: var(--vr-h2-weight); font-size: var(--vr-h2-size); font-style: var(--vr-h2-style); }
.el-h3 h3 { font-weight: var(--vr-h3-weight); font-size: var(--vr-h3-size); font-style: var(--vr-h3-style); }
.el-h4 h4 { font-weight: var(--vr-h4-weight); font-size: var(--vr-h4-size); font-style: var(--vr-h4-style); }
.el-h5 h5 { font-weight: var(--vr-h5-weight); font-size: var(--vr-h5-size); font-style: var(--vr-h5-style); }
.el-h6 h6 { font-weight: var(--vr-h6-weight); font-size: var(--vr-h6-size); font-style: var(--vr-h6-style); }

/* Headers - Edit Mode */
.HyperMD-header {
    &.HyperMD-header-1 { font-weight: var(--vr-h1-weightEM); font-size: var(--vr-h1-sizeEM); font-style: var(--vr-h1-styleEM); }
    &.HyperMD-header-2 { font-weight: var(--vr-h2-weightEM); font-size: var(--vr-h2-sizeEM); font-style: var(--vr-h2-styleEM); }
    &.HyperMD-header-3 { font-weight: var(--vr-h3-weightEM); font-size: var(--vr-h3-sizeEM); font-style: var(--vr-h3-styleEM); }
    &.HyperMD-header-4 { font-weight: var(--vr-h4-weightEM); font-size: var(--vr-h4-sizeEM); font-style: var(--vr-h4-styleEM); }
    &.HyperMD-header-5 { font-weight: var(--vr-h5-weightEM); font-size: var(--vr-h5-sizeEM); font-style: var(--vr-h5-styleEM); }
    &.HyperMD-header-6 { font-weight: var(--vr-h6-weightEM); font-size: var(--vr-h6-sizeEM); font-style: var(--vr-h6-styleEM); }

    & .cm-header {
        font-family: var(--vr-font-headerEM);
        color: var(--text-normal);
    }
}

/* Monospace Fonts */
code[class*="language-"],
.markdown-rendered code,
.cm-inline-code,
.cm-hmd-codeblock,
.cm-hmd-frontmatter,
.HyperMD-table-2,
.cm-math {
    font-family: var(--vr-font-monospace) !important;
}