/* --- SCROLLBARS --- */
body:not(.native-scrollbars) {
    & ::-webkit-scrollbar,
    & .graph-controls::-webkit-scrollbar {
        width: var(--vr-scrollbar-thickness);
        height: var(--vr-scrollbar-thickness);

        background: var(--background-primary);
    }

    & ::-webkit-scrollbar-thumb {
        border: 2px solid var(--background-primary);
        &:hover {
            border-width: 1px;
            background: var(--vr-scrollbar-hover-thumb-bg);
        }

        &:active {
            background: var(--scrollbar-active-thumb-bg);
        }
    }

    & .workspace-tabs { 
        & ::-webkit-scrollbar,
        & .graph-controls::-webkit-scrollbar {
            background: var(--background-secondary);
        }

        & ::-webkit-scrollbar-thumb {
            border: 2px solid var(--background-secondary);
            &:hover { border-width: 1px; }
        }
    }

    & .mod-settings {
        & .vertical-tabs-container {
            & ::-webkit-scrollbar,
            & .graph-controls::-webkit-scrollbar {
                background: var(--background-secondary-alt);
            }

            & ::-webkit-scrollbar-thumb {
                border: 2px solid var(--background-secondary-alt);
                &:hover { border-width: 1px; }
            }
        }

        & .vertical-tab-content-container {
            & ::-webkit-scrollbar,
            & .graph-controls::-webkit-scrollbar {
                background: var(--background-secondary);
            }

            & ::-webkit-scrollbar-thumb {
                border: 2px solid var(--background-secondary);
                &:hover { border-width: 1px; }
            }
        }
    }
}