/* --- TABLES --- */
/* Normal Tables */
th { background-color: var(--background-secondary); }

/* Dataview Tables */
.table-view-table {
    border-collapse: collapse !important;
    border: 1px solid var(--background-modifier-border);

    & .table-view-th {
        font-size: var(--vr-font-size-normal);
        
        border-width: 0px;
        border-bottom: 1px solid var(--background-modifier-border);
        border-right: 1px solid var(--background-modifier-border);
    }

    & .table-view-tbody {
        border-width: 0px;
        & tr { border-bottom: 1px solid var(--background-modifier-border); }
        & td { border-right: 1px solid var(--background-modifier-border); }
    } 
}