/* --- TABLES --- */
/* Normal Tables */
th { background-color: var(--background-secondary); }

/* Dataview Tables */
.table-view-table {
    border: 1px solid var(--background-modifier-border);

    & .table-view-th {
        font-size: var(--vfont-normal-size);
        
        border-width: 0px;
        border-bottom: 1px solid var(--background-modifier-border);
        border-right: 1px solid var(--background-modifier-border);
    }

    & .table-view-tbody {
        & tr { border-bottom: 1px solid var(--background-modifier-border); }
        & td { border-right: 1px solid var(--background-modifier-border); }
    } 
}