/* --- TITLEBAR --- */
/* Buttons - Minimise, Maximise, Close */
.theme-dark, .theme-light {
    & .titlebar-button {
        &.mod-minimize:hover { background-color: var(--vr-green); }
        &.mod-maximize:hover { background-color: var(--vr-yellow); }
        &.mod-close:hover { background-color: var(--vr-red); }
    }
}

.titlebar {
    border-bottom: var(--vr-border-width-normal) solid var(--background-modifier-border);
}


.titlebar-text { display: none; }