/* --- HEADER BACKGROUNDS --- */

/* Preview Mode */
.markdown-preview-view {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        background-color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.25);

        border-radius: var(--vbradius-normal);
        /*border: var(--vbwidth-normal) solid rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.50);*/

        padding-left: var(--vheader-h-padding);

        /*
        &::before {
            content: "§ ";

            overflow: hidden;
            font-size: 2em;
            color:rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.50);
        }*/
    }
}

/* Edit Mode */
.cm-s-obsidian .HyperMD-header { padding-bottom: 0px; }

.cm-s-obsidian {
    & .HyperMD-header-1,
    & .HyperMD-header-2,
    & .HyperMD-header-3,
    & .HyperMD-header-4,
    & .HyperMD-header-5,
    & .HyperMD-header-6 {
        background-color: rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.25);

        border-radius: var(--vbradius-normal);
        /*border: var(--vbwidth-normal) solid rgba(var(--accent-r), var(--accent-g), var(--accent-b), 0.50);*/

        padding-bottom: 0px;
    }
}