/* --- HIGHLIGHTS --- */
/* TODO:
    Figure out how to remove background
styling of code highlights for parents. */

/* Preview View */
.markdown-preview-view {
    /* Standard Styling */
    & mark {
        background: var(--vr-highlight-colour-1);
        color: var(--vr-text-black);

        font-style: normal;
        font-weight: normal;

        /* Unify styling for colours > 4 */
        & > code {
            font-family: var(--vr-font-body) !important;
            font-size: 1em;
            border-radius: 0;

            padding: 0px;
            color: var(--vr-text-black);

            background: var(--vr-highlight-colour-5);
        }
    }

    & em { 
        & > mark {
            background: var(--vr-highlight-colour-2);
            & > code {
                background: var(--vr-highlight-colour-6);
            }
        }
    }

    & strong {
        & > mark {
            background: var(--vr-highlight-colour-3);
            & > code {
                background: var(--vr-highlight-colour-7);
            }
        }

        & > em {
            & > mark {
                background: var(--vr-highlight-colour-4);
                & > code {
                    background: var(--vr-highlight-colour-8);
                }
            }
        }
    }
}

/* Edit View
NOTE:
    The code for edit view highlights is
absolutely repulsive. I plan to *try* and
clean it up at a later date, but if you
want to do that for me before then, feel
free. */

.cm-s-obsidian {
    /* Standard Styling */
    & .cm-highlight {
        background: var(--vr-highlight-colour-1) !important;
        color: var(--vr-text-black);

        font-style: normal;
        font-weight: normal;

        &.cm-strong {
            background: var(--vr-highlight-colour-3) !important;
        }

        /* Unify styling for colours > 4 */
        &.cm-inline-code {
            font-family: var(--vr-font-editor) !important;
            font-size: 1em;
            border-radius: 0;

            padding: 0px;
            color: var(--vr-text-black);

            background: var(--vr-highlight-colour-5) !important;

            &.cm-strong {
                background: var(--vr-highlight-colour-7) !important;
            }
        }
    }

    & .cm-em {
        &.cm-highlight {
            background: var(--vr-highlight-colour-2) !important;
            &.cm-strong {
                background: var(--vr-highlight-colour-4) !important;
            }
            &.cm-inline-code {
                background: var(--vr-highlight-colour-6) !important;
                &.cm-strong {
                    background: var(--vr-highlight-colour-8) !important;
                }
            }
        }
    }
}