/* --- HEADER BACKGROUNDS --- */
/* Preview Mode */
.markdown-preview-view {
  /* TODO: Move to separate colour scheme
  & h1 { background-color: rgba(var(--vr-accent-r), var(--vr-accent-g), var(--vr-accent-b), var(--vr-header-bg-alpha)); }
  & h2 { background-color: rgba(var(--vr-blue-r), var(--vr-blue-g), var(--vr-blue-b), var(--vr-header-bg-alpha)); }
  & h3 { background-color: rgba(var(--vr-purple-r), var(--vr-purple-g), var(--vr-purple-b), var(--vr-header-bg-alpha)); }
  & h4 { background-color: rgba(var(--vr-pink-r), var(--vr-pink-g), var(--vr-pink-b), var(--vr-header-bg-alpha)); }
  & h5 { background-color: rgba(var(--vr-red-r), var(--vr-red-g), var(--vr-red-b), var(--vr-header-bg-alpha)); }
  & h6 { background-color: rgba(var(--vr-yellow-r), var(--vr-yellow-g), var(--vr-yellow-b), var(--vr-header-bg-alpha)); }
  */
}
.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
  border-radius: var(--vr-border-radius-normal);
  padding-left: var(--vr-header-hori-padding);
  position: relative;
  overflow: hidden;
  /* This maaaaay be a little busted */
  color: var(--text-accent);
  z-index: 0;
  /* Header Background Text */
}
.markdown-preview-view h1::before, .markdown-preview-view h2::before, .markdown-preview-view h3::before, .markdown-preview-view h4::before, .markdown-preview-view h5::before, .markdown-preview-view h6::before {
  content: var(--vr-header-sym);
  font-size: 2em;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: var(--text-normal);
  z-index: -1;
}
.markdown-preview-view h1, .markdown-preview-view h3, .markdown-preview-view h5 {
  background-color: rgba(var(--vr-accent-r), var(--vr-accent-g), var(--vr-accent-b), var(--vr-header-bg-alpha));
}
.markdown-preview-view h2, .markdown-preview-view h4, .markdown-preview-view h6 {
  background-color: rgba(var(--vr-green-r), var(--vr-green-g), var(--vr-green-b), var(--vr-header-bg-alpha));
}

/* Edit Mode */
.cm-s-obsidian .HyperMD-header {
  padding-bottom: 0px;
  margin-bottom: 2px !important;
  border-radius: var(--vr-border-radius-normal);
  /* TODO: Move to separate colour scheme
  &.HyperMD-header-1 { background-color: rgba(var(--vr-accent-r), var(--vr-accent-g), var(--vr-accent-b), var(--vr-header-bg-alpha)); }
  &.HyperMD-header-2 { background-color: rgba(var(--vr-blue-r), var(--vr-blue-g), var(--vr-blue-b), var(--vr-header-bg-alpha)); }
  &.HyperMD-header-3 { background-color: rgba(var(--vr-purple-r), var(--vr-purple-g), var(--vr-purple-b), var(--vr-header-bg-alpha)); }
  &.HyperMD-header-4 { background-color: rgba(var(--vr-pink-r), var(--vr-pink-g), var(--vr-pink-b), var(--vr-header-bg-alpha)); }
  &.HyperMD-header-5 { background-color: rgba(var(--vr-red-r), var(--vr-red-g), var(--vr-red-b), var(--vr-header-bg-alpha)); }
  &.HyperMD-header-6 { background-color: rgba(var(--vr-yellow-r), var(--vr-yellow-g), var(--vr-yellow-b), var(--vr-header-bg-alpha)); }
  */
}
.cm-s-obsidian .HyperMD-header.HyperMD-header-1, .cm-s-obsidian .HyperMD-header.HyperMD-header-3, .cm-s-obsidian .HyperMD-header.HyperMD-header-5 {
  background-color: rgba(var(--vr-accent-r), var(--vr-accent-g), var(--vr-accent-b), var(--vr-header-bg-alpha));
}
.cm-s-obsidian .HyperMD-header.HyperMD-header-2, .cm-s-obsidian .HyperMD-header.HyperMD-header-4, .cm-s-obsidian .HyperMD-header.HyperMD-header-6 {
  background-color: rgba(var(--vr-green-r), var(--vr-green-g), var(--vr-green-b), var(--vr-header-bg-alpha));
}
.cm-s-obsidian .HyperMD-header .cm-header {
  color: var(--text-accent);
}

/*# sourceMappingURL=header_backgrounds.css.map */
